{# Leaf-1 #}
ip anycast-mac-address 00:00:22:22:22:22
ip anycast-address enable
!
interface Vlan10
 description "Green Servers VLAN"
 ip anycast-address 10.1.1.254/24
!
interface Vlan11
 description "Red Servers VLAN"
 ip anycast-address 11.1.1.254/24
!
interface Vlan12
 description "VLAN on Leaf-2"
!
interface PortChannel 1
 switchport trunk allowed Vlan add 10,11,12
!
interface PortChannel 100
 switchport trunk allowed Vlan add 10,11,12
!
default interface Ethernet5
 interface Ethernet5
 description "Link to PC-1"
 switchport access vlan 11
 no shutdown
!

{# Leaf-3 #}
ip anycast-mac-address 00:00:22:22:22:22
ip anycast-address enable
!
interface Vlan10
 description "Green Servers VLAN"
 ip anycast-address 10.1.1.254/24
!
interface Vlan11
 description "Red Servers VLAN"
 ip anycast-address 11.1.1.254/24
!
interface Vlan12
 description "VLAN on Leaf-2"
!
interface PortChannel 1
 switchport trunk allowed Vlan add 10,11,12
!
interface PortChannel 100
 switchport trunk allowed Vlan add 10,11,12
!

{# Cisco-Switch #}
vlan 10
!
vlan 11
!
interface Port-channel13
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed Vlan add 10
 switchport trunk allowed Vlan add 11
 switchport trunk allowed Vlan add 12
!
interface GigabitEthernet1/0
 switchport host
 switchport access vlan 10
 no shutdown
!

{# Leaf-2 #}
ip anycast-mac-address 00:00:12:12:12:12
ip anycast-address enable
!
interface Vlan12
 description "Blue Servers VLAN"
 ip anycast-address 12.1.1.254/24
!
default interface Ethernet5
 interface Ethernet5
 description "Link to PC-3"
 switchport access vlan 12
 no shutdown
!
default interface Ethernet0
 interface Ethernet0
 description "Link to PC-2"
 switchport access vlan 12
 no shutdown
!