{# BGP ipv4 unicast neighbors #}
{# Leaf-1 #}
interface Ethernet0
 ipv6 enable
 exit
!
interface Ethernet2
 ipv6 enable
 exit
!
router bgp 65101
 router-id 192.168.0.1
 !
 neighbor interface Ethernet0
  description AS65000-Spine-1-Ethernet0
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
 neighbor interface Ethernet2
  description AS65000-Spine-2-Ethernet2
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
end
!
{# Leaf-3 #}
interface Ethernet0
 ipv6 enable
 exit
!
interface Ethernet2
 ipv6 enable
 exit
!
router bgp 65101
 router-id 192.168.0.3
 !
 neighbor interface Ethernet0
  description AS65000-Spine-1-Ethernet0
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
 neighbor interface Ethernet2
  description AS65000-Spine-2-Ethernet2
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
end
!
{# Leaf-2 #}
interface Ethernet4
 ipv6 enable
 exit
!
interface Ethernet2
 ipv6 enable
 exit
!
router bgp 65102
 router-id 192.168.0.2
 !
 neighbor interface Ethernet4
  description AS65000-Spine-1-Ethernet4
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
 neighbor interface Ethernet2
  description AS65000-Spine-2-Ethernet2
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
end
!
{# Spine-1 #}
interface Ethernet0
 ipv6 enable
 exit
!
interface Ethernet3
 ipv6 enable
 exit
!
interface Ethernet4
 ipv6 enable
 exit
!
router bgp 65000
 router-id 192.168.0.4
 !
 neighbor interface Ethernet0
  description AS65101-Leaf-1-Ethernet0
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
 neighbor interface Ethernet3
  description AS65101-Leaf-3-Ethernet3
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
 neighbor interface Ethernet4
  description AS65102-Leaf-2-Ethernet4
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
end
!
{# Spine-2 #}
interface Ethernet1
 ipv6 enable
 exit
!
interface Ethernet3
 ipv6 enable
 exit
!
interface Ethernet2
 ipv6 enable
 exit
!
router bgp 65000
 router-id 192.168.0.5
 !
 neighbor interface Ethernet1
  description AS65101-Leaf-1-Ethernet1
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
 neighbor interface Ethernet3
  description AS65101-Leaf-3-Ethernet3
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
 neighbor interface Ethernet2
  description AS65102-Leaf-2-Ethernet2
  remote-as external
  !
  address-family ipv4 unicast
   activate
 !
end
!


{# Create VRF #}
{# Leaf-1 #}
ip vrf Vrf-Tenant-1
!
interface Vlan10
 no ip anycast-address 10.1.1.254/24
 ip vrf forwarding Vrf-Tenant-1
 ip anycast-address 10.1.1.254/24
!
interface Vlan11
 no ip anycast-address 11.1.1.254/24
 ip vrf forwarding Vrf-Tenant-1
 ip anycast-address 11.1.1.254/24
!
{# Leaf-3 #}
ip vrf Vrf-Tenant-1
!
interface Vlan10
 no ip anycast-address 10.1.1.254/24
 ip vrf forwarding Vrf-Tenant-1
 ip anycast-address 10.1.1.254/24
!
interface Vlan11
 no ip anycast-address 11.1.1.254/24
 ip vrf forwarding Vrf-Tenant-1
 ip anycast-address 11.1.1.254/24
!
{# Leaf-2 #}
ip vrf Vrf-Tenant-1
!
interface Vlan12
 no ip anycast-address 12.1.1.254/24
 ip vrf forwarding Vrf-Tenant-1
 ip anycast-address 12.1.1.254/24
!


{# Create VLAN IRB & VXLAN VTEP #}
{# Leaf-1 #}
interface Vlan123
 description "IRB VLAN"
 ip vrf forwarding Vrf-Tenant-1
 ipv6 enable
!
interface Loopback 1
 description "source ip for VXLAN interface"
 ip address 100.1.1.1/32
!
interface vxlan vtep1
 source-ip 100.1.1.1
 map vni 123000 vlan 123
 map vni 123000 vrf Vrf-Tenant-1
!
interface PortChannel 1
 switchport trunk allowed Vlan add 123
!
interface PortChannel 100
 switchport trunk allowed Vlan add 123
!
{# Leaf-3 #}
interface Vlan123
 description "IRB VLAN"
 ip vrf forwarding Vrf-Tenant-1
 ipv6 enable
!
interface Loopback 1
 description "source ip for VXLAN interface"
 ip address 100.3.3.3/32
!
interface vxlan vtep3
 source-ip 100.3.3.3
 map vni 123000 vlan 123
 map vni 123000 vrf Vrf-Tenant-1
!
interface PortChannel 1
 switchport trunk allowed Vlan add 123
!
interface PortChannel 100
 switchport trunk allowed Vlan add 123
!
{# Leaf-2 #}
interface Vlan123
 description "IRB VLAN"
 ip vrf forwarding Vrf-Tenant-1
 ipv6 enable
!
interface Loopback 1
 description "source ip for VXLAN interface"
 ip address 100.2.2.2/32
!
interface vxlan vtep2
 source-ip 100.2.2.2
 map vni 123000 vlan 123
 map vni 123000 vrf Vrf-Tenant-1
!


{# BGP L2VPN EVPN neighbors #}
{# Spine-1 #}
router bgp 65000
 neighbor interface Ethernet0
  address-family l2vpn evpn
   activate
 !
 neighbor interface Ethernet3
  address-family l2vpn evpn
   activate
 !
 neighbor interface Ethernet4
  address-family l2vpn evpn
   activate
 !
!
{# Spine-2 #}
router bgp 65000
 neighbor interface Ethernet1
  address-family l2vpn evpn
   activate
 !
 neighbor interface Ethernet3
  address-family l2vpn evpn
   activate
 !
 neighbor interface Ethernet2
  address-family l2vpn evpn
   activate
 !
!
{# Leaf-1 #}
router bgp 65101
 neighbor interface Ethernet2
  address-family l2vpn evpn
   activate
 !
 neighbor interface Ethernet4
  address-family l2vpn evpn
   activate
!
{# Leaf-2 #}
router bgp 65101
 neighbor interface Ethernet4
  address-family l2vpn evpn
   activate
 !
 neighbor interface Ethernet2
  address-family l2vpn evpn
   activate
!
{# Leaf-3 #}
router bgp 65101
 neighbor interface Ethernet0
  address-family l2vpn evpn
   activate
 !
 neighbor interface Ethernet2
  address-family l2vpn evpn
   activate
!


{# Advertise source interface VXLAN into BGP ipv4 unicast to bring up vxlan tunnel endpoints connectivity #}
{# Leaf-1 #}
interface vxlan vtep1
 map vni 100010 vlan 10 {# map all vni into interface vxlan #}
 map vni 100011 vlan 11
 !
!
router bgp 65101
 address-family ipv4 unicast
  maximum-paths 32 {# enable multiplath #}
  maximum-paths ibgp 32 {# enable multiplath #}
  network 100.1.1.1/32 {# advertise source interface of vxlan #}
 !
 address-family l2vpn evpn
  advertise-all-vni {# advertise all vxlan vni #}
 !
!
{# Leaf-2 #}
interface vxlan vtep2
 map vni 100012 vlan 12
 !
!
router bgp 65102
 address-family ipv4 unicast
  maximum-paths 32
  maximum-paths ibgp 32
  network 100.2.2.2/32
 !
 address-family l2vpn evpn
  advertise-all-vni
 !
!
{# Leaf-3 #}
interface vxlan vtep3
 map vni 100010 vlan 10
 map vni 100011 vlan 11
 !
!
router bgp 65101
 !
 address-family ipv4 unicast
  maximum-paths 32
  maximum-paths ibgp 32
  network 100.3.3.3/32
 !
 address-family l2vpn evpn
  advertise-all-vni
 !
!


{# Advertise VRF through BGP VXLAN EVPN to remote sites #}
{# Leaf-1 #}
router bgp 65101 vrf Vrf-Tenant-1
 address-family ipv4 unicast
  redistribute connected
  maximum-paths 32
  maximum-paths ibgp 32
  dampening
 !
 address-family l2vpn evpn
  advertise ipv4 unicast
!
{# Leaf-2 #}
router bgp 65102 vrf Vrf-Tenant-1
 address-family ipv4 unicast
  redistribute connected
  maximum-paths 32
  maximum-paths ibgp 32
  dampening
 !
 address-family l2vpn evpn
  advertise ipv4 unicast
!
{# Leaf-3 #}
router bgp 65102 vrf Vrf-Tenant-1
 address-family ipv4 unicast
  redistribute connected
  maximum-paths 32
  maximum-paths ibgp 32
  dampening
 !
 address-family l2vpn evpn
  advertise ipv4 unicast
!